.App {
  text-align: center;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}

.formdiv{
  padding: 50px;
}

.formstyle{
  padding-top: 20px;
  background-color: rgb(146, 166, 228);
  width: 50%;
  margin: auto;
}

.formstyle  p{
  margin-bottom: 0px;
  padding: 5px;
}
